*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.owl
*.lot
*.lol

thesis/thesis.pdf
thesis/svg-inkscape

expose/expose.pdf
expose/slides/slides.pdf
expose/slides/notes.pdf
/target

/lubm/raw
/lubm/*.owl
/lubm/*.ttl
/lubm/*.nt
/lubm/*.ron
/dbpedia

/.stack-work
/.venv
evaluation/.ipynb_checkpoints

/bsbm/*.nt
/bsbm/td_data/

/watdiv/bin/Debug
/watdiv/bin/Release/**.nt
/watdiv/bin/Release/**.ron
