*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.nav
*.snm
*.owl
*.lot
*.lol
thesis/thesis.pdf
expose/expose.pdf
expose/slides/slides.pdf
expose/slides/notes.pdf
/target
/data
/.stack-work
/.venv
evaluation/.ipynb_checkpoints
